<?xml version="1.0" encoding="utf-8"?>

<settings>
	
	<general
		
		websiteTitle="www.patagoniaestudio.com.ar"
		templateWidth="980"
		
		headerHeight="80"
		headerPattern="images/backgrounds/header-pattern2.png"
		headerBgImage=""
		headerBgColor=""
		headerShadow="images/backgrounds/header-shadow3.png"
		
		logoURL="images/logo1.png"
		logoXOffset="30"
		logoYPosition="4"
		
		menuXML="xml/layout3/menu.xml"
		menuAlign="right"
		menuXOffset="40"
		menuYPosition="24"
		menuSpacing="26"
		menuFont="League Gothic"
		menuFontSize="24"
		menuFontWeight="normal"
		menuFontColor="444444"
		menuOverFontColor="577C95"
		menuSelectedFontColor="577C95"
		menuOverBgColor="E1E1E1"
		menuOverBgAlphaTop="1"
		menuOverBgAlphaBottom="1"
		
		submenuItemHeight="28"
		submenuFont="PT Sans Narrow"
		submenuFontSize="14"
		submenuFontWeight="normal"
		submenuFontColor="888888"
		submenuOverFontColor="555555"
		submenuSelectedFontColor="555555"
		submenuBgColor="FFFFFF"
		submenuBgAlpha="0.95"
		submenuOverBgColor="E7E7E7"
		submenuOverBgAlpha="1"
		submenuTopTrimHeight="1"
		submenuTopTrimColor="FDB03D"
		submenuTopTrimAlpha="1"
		submenuShadowColor="333333"
		submenuShadowAlpha="0.4"
		submenuShadowStrength="1"
		submenuShadowDistance="1"
		
		bodyPattern="images/backgrounds/body-pattern3.png"
		bodyPatternFullStage="false"
		bodyBgImage="images/backgrounds/body-bg-image1.jpg"
		bodyBgImageFullStage="true"
		bodyBgColor=""
		
		contentPageMinTopMargin="20"
		contentPageMaxTopMargin="100"
		contentPageBgColor="FAFAFA"
		contentPageBgAlpha="0.95"
		contentPageLeftMargin="40"
		contentPageRightMargin="40"
		styleSheetURL="css/layout3/textstyle.css"
		
		breadcrumbsTopMargin="15"
		breadcrumbIconURL="images/icons/breadcrumb-separator.png"
		breadcrumbIconTopPadding="6"
		breadcrumbIconColor="666666"
		breadcrumbSpacing="14"
		breadcrumbFont="Droid Sans"
		breadcrumbFontSize="12"
		breadcrumbFontColor="777777"
		breadcrumbOverFontColor="333333"
		breadcrumbSelectedFontColor="577C95"
		
		footerHeight="34"
		footerLeftMargin="40"
		footerRightMargin="40"
		footerPattern="images/backgrounds/footer-pattern.png"
		footerBgImage=""
		footerBgColor=""
		showMusicIcon="true"
		showFullScreenIcon="true"
		musicAndScreenIconsTopPadding="10"
		musicAndScreenIconsSpacing="15"
		musicAndScreenIconsColor="DDDDDD"
		musicAndScreenIconsOverBrightness="0.4"
		socialIconsTopPadding="8"
		socialIconsSpacing="6"
		socialIconsOverBrightness="0.2"
		
		showPreloader="true"
		preloaderColor="666666"
		preloaderAlpha="0.5"
		
	/>
	
	<music enabled="true" bufferTime="3000" volume="0.9">
		<track src="music/i_can_fly.mp3"/>
		<track src="music/ambiphonic.mp3"/>
	</music>
	
	<socialnetworks>
		<icon src="images/icons/social/facebook.png" clickLink="http://www.facebook.com" clickTarget="_blank"/>
		<icon src="images/icons/social/linkedin.png" clickLink="http://www.linkedin.com" clickTarget="_blank"/>
	</socialnetworks>
	
	<footertext topPadding="8" leftPadding="40">
		<![CDATA[<footer>Copyright © 2013. Todos los derechos reservados</a>.</footer>]]>
	</footertext>
	
</settings>